* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.font-open-snas {
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;

}

header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;

}

.logo-r {
    color: #FD6E0A;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font: 20px;
    color: #474747;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font: 20px;
    font-weight: bold;
    cursor: pointer;
}

#banner {
    margin: 47px 38px 0px 230px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;



}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85;
    font-weight: 900;
    color: black;
    margin-bottom: 20px;

}

#banner .banner-content p {
    font-size: 18;
    /* font-weight: 900; */
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

#banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}

/* aaaabout section  */
#about {
    padding-top: 130px;
}

#about .about-content {
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-content {
    max-width: 827px;
    text-align: center;

}

.about-content h2 {
    font: 35px;
    color: #181818;
    margin-bottom: 30px;


}

.about-content .about-heading p {
    font: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#about .about-content .about-info {
    display: flex;
    justify-content: space-around;
}

.about-content .about-info p {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}

.about-content .about-info h4 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 30px;

}
#skill{
    margin-top: 130px;
}
#skill .skill-content{
    width: 74%;
    max-width: 1140px;
   margin: 0 auto;
   
    
}
 #skill .skill-content .skill-heading{
    text-align: center;
    margin: 0 auto;
}
.skill-content .skill-heading h1{
    margin-bottom: 30px;
}
.skill-content .skill-heading p{
     font: 18px;
    line-height: 30px;
    color: #757575;
}

 #skill .skill-content .skill-box{
    display: flex;
    gap: 24px;
    margin-top: 50px;
 }
.skill-box .box-card{
    padding: 30px ;
    /* border: 1px solid black; */
    box-shadow: 0 6px 50px 0 #0000002f;
    max-width: 267px;
    
}
.box-card img{
    width:  44px;
    margin-bottom: 30px;
}
.box-card h2{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.box-card p{
    font-size: 16px;
    line-height: 18px;
}
